.case-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
  gap: 1rem;

  &__title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 0;
  }

  &__year {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--colors-white-300);
    margin: 0;
  }
}

.case-hero {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--colors-lavender);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  margin-block: 4rem;

.case-hero {
  img {
    width: min(1600px, 80%);
  }
}
}

// ── label avec border left ───────────────────────────────────

.project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-left: 1px solid var(--colors-orange-200);
  padding-left: 1rem;
}

.detail-label {
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--colors-white-500);
}

.detail-value {
  font-size: 0.85rem;
  color: var(--colors-white-100);
}

// Project info en deux colonnes
.case-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  //width: 60%;
  justify-content: center;
  gap: 3rem;
  align-items: start;
  margin-block: 5rem;
  

  &__label {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--colors-white-300);
    font-family: var(--secondary-font);
    margin: 0;
  }
}

// Image featured pleine largeur avec fond orange mais plus utilisé pour cette page
.case-featured {
  background-color: var(--colors-orange-300);
  display: flex;
  justify-content: center;
  align-items: flex-end;  
  padding: 3rem 0 0 0;    
  margin-block: 4rem;
  border-radius: 8px;

  img {
    width: 500px;
    max-width: 80%;
    display: block;
  }
}

// layout de la grille
.case-grid-images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: stretch;
  
 .col-1  { grid-column: span 1; }
 .col-2  { grid-column: span 2; }
 .col-3  { grid-column: span 3; }
 .col-4  { grid-column: span 4; }
 .col-5  { grid-column: span 5; }
 .col-6  { grid-column: span 6; }
 .col-7  { grid-column: span 7; }
 .col-8  { grid-column: span 8; }
 .col-9  { grid-column: span 9; }
 .col-10 { grid-column: span 10; }
 .col-11 { grid-column: span 11; }
 .col-12 { grid-column: span 12; }
 
 
   margin-bottom: 4rem;
}

// images dans la grille
.case-grid-images img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
   object-fit: cover;
}

